{
    padding:0
    margin:0;
    box-sizing:border-box;
}
.container{
    width: 100%;
    height: auto;
    font-family:'cookie', cursive ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #ff99b6;
    overflow: hidden;
}
.banner{
    weidth: 100%;
    height: 600px;
    background-image: url(wedding.jpg);
    background-repeat: no-repeat ;
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
border-redious:0 0 500px 0 ;
}