{
    padding:0
    margin:0;
    box-sizing:border-box;
}
.container{
    width: 100%;
    height: auto;
    font-family:'cookie','cursive' ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #df7693;
    overflow: hidden;
}
.banner{
    width: 100%;
    height: 600px;
    background-image: url(https://indianweds.files.wordpress.com/2012/11/mccainpictures085.jpg?w=1120);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position:center;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius:0 0 500px 0 ;
}
.nav{
    width: 90%;
    height: auto;
    background-color: rgba(255,200,200,7);
    border-radius: 40px;
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav b{
    font-size: 40px;
    margin-left: 20px;
}
.menu{
    width: 40%;
    height: 60px;
    border-radius:30px ;
    position: relative;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgb(0,0,0,5);
    transition-duration: 1s;
}
.menu a{
    text-decoration: none;
    font-size: 30px;
    color: #333;
    font-weight: bolder;
    transition-duration: 2s;
}
.menu a:hover{
    border-bottom: 5px solid #333;
}
.text{
    width: 100%;
    position: relative;
    top: 40px;
    left: 20px;
    font-size: 30px;
    text-align: left;
}
.text h1{
    color: #df7693;
    text-shadow: 0 3px 10px rgb(0,0,0,5);
}
.text .date{
    color: #15f08a;
    background-color: rgb(247, 139, 7);
    padding: 5px;
    border-radius: 40px 0 40px 0;
    transition-duration: 0.5s;
}
.section{
    width:100% ;
    height: auto;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.us{
    width: 80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow:0 3px 10px 0 rgba(100,100,100,.3) ;
}
 .us img{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       border-top: 10px solid #f15;
       border-bottom: 10px solid #f15;
       margin-bottom: 20px;

}
.section h2{
    width: 100%;
    text-align: center;
    color: #f15;
    font-size: 60px;
}
